<!-- container for post -->
<article class="post-section border border-dark border-3 rounded my-2">
    <div class="d-flex flex-column text-bg-dark p-2 px-4">
        <a href="/post/{{id}}" class="text-decoration-none text-white fw-semibold fs-4">
            {{title}}
        </a>
        <div class="creator-info">
            Posted by {{user.username}} on {{format_date created_at}}
        </div>
    </div>
    <div class="fs-5 py-2 px-4 fw-semibold">
        {{content}}
    </div>
</article>